.advertise {
  @include breakpoint(xs) {
    padding-top: $gutter/2;
  }
}

.advertise .container {
  margin: 0 $gutter/4;
  display: block;
  
  @include breakpoint(sm) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $gutter/2 !important;
  }
}

.advertise .column:nth-child(even) .container {
  @include breakpoint(sm) {
    margin-left: $gutter/4 !important;
  }
  
  @include breakpoint(xs) {
    margin-left: 0 !important;
  }
}

.advertise .column:nth-child(odd) .container {
  @include breakpoint(sm) {
    margin-right: $gutter/4 !important;
  }
  
  @include breakpoint(xs) {
    margin-right: 0 !important;
  }
}

.advertise .column.three {
  @include breakpoint(sm) {
    width: 50% !important;
  }
  
  @include breakpoint(xs) {
    width: 100% !important;
  }
}

.advertise a {
  display: block;
}

.advertise a img {
  width: 100%;
}