.banner {
  display: block;
  width: 100%;
  background-color: #fff;
}
.banner .container {
  margin: 0 5px;
  padding: 20px;
  padding-left: 300px;
  color: #333;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url('../img/coach-giving.png');
}
.banner .container .title {
  display: block;
}
.banner .container .title h5 {
  font-size: 24px;
  line-height: 28px;
}
.banner .container .textarea {
  display: block;
  margin-top: 5px;
}