.simcal-calendar {
  border: 0;
}

.simcal-calendar td {
  border: 0;
  background-color: darken($white,10%);
}

.simcal-calendar th {
  background-color: $secondary_color;
  color: $white;
}

.simcal-calendar th button i {
  color: $white;
  font-size: $body_font_size + 5;
}

.simcal-calendar th.simcal-week-day {
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;
  background-color: darken($secondary_color,25%);
}

.simcal-calendar .simcal-today > div {
  border-color: lighten($black,20%) !important;
}

.simcal-calendar .simcal-today > div .simcal-day-label {
  background-color: lighten($black,20%) !important;
}

.simcal-calendar .post-edit-link {
  display: none;
}

.simcal-calendar .simcal-day-has-events .simcal-day-label {
  background-color: $primary_color !important;
}

.simcal-calendar .simcal-day-has-events .simcal-event-title {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: $strong_weight;
}

// POPUP

.qtip.simcal-event-bubble {
  // chrome fix
  @include border-radius();
  @include box-shadow(0,0,200px,999px,rgba($black,.25));
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  margin-left: -200px;
  margin-top: -150px;
  padding: 0;
  height: 300px;
  width: 400px;
  max-width: 90%;
  overflow-y: auto;
}

.qtip .qtip-content {
  padding: 0;
}

.qtip .simcal-tooltip-content {
  padding: $gutter !important;
}

.simcal-event-bubble .simcal-event-details a {
  @include border-radius();
  @include box-shadow();
  padding: $gutter/4 $gutter/2;
  display: block;
  background-color: $primary_color;
  color: $white;
  text-align: center;
  font-weight: $strong_weight;
  
  &:hover {
    @include box-shadow(0,0,0,transparent);
    background-color: $primary_color_hover;
  }
}

.simcal-event-bubble .simcal-event-start {
  font-size: 12px;
}

.simcal-event-bubble .simcal-event-details p {
  display: inline-block;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}