.coach-finder .side label {
  display: block;
  font-size: $body_font_size - 2;
  margin-bottom: $gutter/4;
}

.coach-finder .side input[type='text'] {
  @extend .contrast;
  @include border-radius();
  display: block;
  width: 100%;
  line-height: 40px;
  height: 40px;
  background-color: $white;
  font-size: $body_font_size - 3;
}

.coach-finder .side label.checkbox {
  cursor: pointer;
}

.coach-finder .side .filters .container {
  padding: 0;
}

.coach-finder .side .filters .head {
  position: relative;
  padding: $gutter/2;
  cursor: pointer;
}

.coach-finder .side .filters .head h3 {
  display: block;
}

.coach-finder .side .filters .head .fa {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  line-height: 28px;
  text-align: center;
}

.coach-finder .side .filters .head .length {
  @include border-radius(3px);
  display: none;
  position: absolute;
  right: 30px;
  top: 12px;
  padding: 0 7px;
  line-height: 24px;
  background-color: $success_color;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  
  &:hover {
    background-color: $error_color;
  }
}

.coach-finder .side .filters .body {
  display: none;
  padding: $gutter/2;
  margin: 0;
  max-height: 200px;
  background-color: darken($white, 5);
  border-top: 1px solid darken($white, 10);
  overflow-y: scroll;
}