.coach-details .title .head {
  position: relative;
  padding-left: 70px;
}

.coach-details .title h1 {
  text-transform: capitalize;
  line-height: 50px;
}

.coach-details .avatar {
  @include box-shadow();
  @include border-radius(50%);
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  border: 2px solid $white;
}

.coach-details .avatar img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.coach-details .box {
  display: block;
  padding: $gutter/4 0;
  line-height: $body_font_size + 5;
}

.coach-details .box .fa {
  width: 30px;
  line-height: inherit;
  font-size: $body_font_size + 5;
  text-align: center;
}

.coach-details .box strong {
  color: rgba($body_color,.75);
  font-size: $body_font_size;
  line-height: inherit;
}

.coach-details .segment {
  padding-bottom: $gutter;
  margin-bottom: $gutter;
  border-bottom: 1px dashed darken($white,20);
  
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    
  }
}