.featured-links {
  padding-left: $gutter/4;
  padding-right: $gutter/4;

  @include breakpoint(sm) {
    padding: 0;
  }
  
  @include breakpoint(xs) {
    padding-top: $gutter/2;
  }
}

.featured-links .column:nth-child(even) a {
  background-color: darken($primary_color,10);
}

.featured-links a {
  display: block;
  padding: $gutter*2 0;
  background-color: $primary_color;
  color: $white;
  font-size: 0;
  
  @include breakpoint(sm) {
    @include border-radius();
    padding: $gutter*1.5 0;
    margin-top: $gutter/2;
  }
  
  @include breakpoint(xs) {
    @include border-radius();
    padding: $gutter/2 0;
  }
}

.featured-links a:hover {
  background-color: $primary_color_hover !important;
}

.featured-links a * {
  display: inline-block;
  vertical-align: middle;
  font-size: $body_font_size;
  
  @include breakpoint(xs) {
    font-size: $body_font_size - 2;
  }
}

.featured-links a i {
  margin-right: $gutter/2;
  font-size: $body_font_size + 10;
  
  @include breakpoint(xs) {
    font-size: $body_font_size + 4;
  }
}