.feeds .tweet-list {
  display: block;
}

.feeds .tweet-item {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 50px;
  margin-bottom: $gutter;
  
  @include breakpoint(sm) {
    padding-left: 40px;
  }
}

.feeds .tweet-item p {
  @include breakpoint(sm) {
    font-size: $body_font_size - 2;
    line-height: $body_font_size + 3;
  }
}

.feeds .tweet-item .fa {
  @include opacity(.15);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 45px;
  
  @include breakpoint(sm) {
    font-size: 35px;
  }
}