.feeds {
  @include breakpoint(xs) {
    padding-top: $gutter/2;
  }
}

.feeds .container {
  margin: 0 $gutter/4;
  padding: $gutter;
  min-height: 520px;
  text-align: center;
  
  @include breakpoint(sm) {
    min-height: auto;
    margin: 0;
  }
}

.feeds .body {
  margin-top: $gutter;
}

.feeds .head a {
  color: $body_color;
}