.feeds .latest-posts .post {
  position: relative;
  min-height: 60px;
  margin-bottom: $gutter;
  padding-left: 80px;
  
  @include breakpoint(xs) {
    padding-left: 0;
    text-align: center;
    padding-bottom: $gutter;
    border-bottom: 1px solid darken($white,10);
  }
  
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.feeds .latest-posts .thb {
  @include border-radius(50%);
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  border: 2px solid $white;
  
  @include breakpoint(xs) {
    display: none;
  }
}

.feeds .latest-posts .post-list {
  text-align: left;
}

.feeds .latest-posts .post-list a {
  display: block;
}