.hero .container.events {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

.hero .simcal-default-calendar-list  {
  display: block;
  padding: $gutter/2;
  max-height: $hero_height - 150;
  background-color: $white;
  border: 1px solid darken($white, 15);
  overflow-y: auto;
}

.hero .simcal-default-calendar-list dt {
  display: none;
}

.hero .simcal-default-calendar-list br {
  display: none;
}

.hero .simcal-default-calendar-list .simcal-events {
  padding: 0;
  margin: 0;
}

.hero .simcal-default-calendar-list .simcal-event {
  position: relative;
  display: block;
  padding: 0 0 $gutter/2;
  margin: 0 0 $gutter/2;
  border-bottom: 1px dotted darken($white,50);
}

.hero .simcal-default-calendar-list .simcal-event:after {
  @include icon();
  @include opacity(.15);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  content: '\f073';
  font-size: 30px;
}

.hero .simcal-default-calendar-list .simcal-event-title {
  display: block;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

.hero .simcal-default-calendar-list .simcal-event p {
  font-size: $body_font-size - 3;
  margin: 0;
}

.hero .simcal-default-calendar-list .simcal-event a {
  display: block;
  font-weight: $strong_weight;
}

.hero .simcal-default-calendar-list dd:last-child li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
