.hero .news .container {
  padding: 0;
}

.hero .news .body {
  display: table;
  width: 100%;
  height: $hero_height;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-size: 0;
}

.hero .news .post {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: $gutter;
  z-index: 1;
}

.hero .news .title h2 {
  font-size: $body_font_size + 15;
  line-height: $body_font_size + 20;
}

.hero .news .textarea {
  margin-top: $gutter/2;
  padding: 0 $gutter;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

.hero .news .btn {
  margin-top: $gutter;
}