.hero .container {
  min-height: $hero_height;
  padding: $gutter;
  margin: 0 $gutter/4;
  text-align: center;
  
  @include breakpoint(sm) {
    margin: 0;
    min-height: auto;
  }
}

.hero .body {
  margin-top: $gutter;
}

.hero .foot {
  margin-top: $gutter;
}

.hero .head a {
  color: $body_color;
}