.hero .member .title {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding-left: 60px;
  text-align: left;
  
  @include breakpoint(sm) {
    display: inline-block;
    width: auto;
  }
}

.hero .member .title strong {
  display: block;
  padding-top: 2px;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

.hero .member .title span {
  display: block;
}

.hero .member .thb {
  @include border-radius(50%);
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border: 2px solid $white;
}

.hero .member .textarea {
  display: block;
  margin-top: $gutter;
  text-align: left;
  
  @include breakpoint(sm) {
    max-width: 400px;
    margin: $gutter auto 0;
    text-align: center;
  }
}

.hero .member .textarea p {
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}