.features {
  @include breakpoint(xs) {
    padding-top: $gutter;
  }
}

.inline .container {
  position: relative;
  display: block;
  padding: $gutter;
  margin: 0 $gutter/4;
  color: $body_color;
  min-height: 400px;
  
  @include breakpoint(sm) {
    min-height: auto;
    margin: 0 0 $gutter/2;
  }
  
  @include breakpoint(xs) {
    background-color: $white;
  }
}

.inline:last-child .container {
  @include breakpoint(sm) {
    margin: 0;
  }
}

.inline a:hover {
  @include transition();
  border-color: $primary_color;
}

.inline .thumbnail {
  @include border-radius(50%);
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: top;
  background-size: cover;
  background-position: center;
  border: 2px solid $white;
  overflow: hidden;
}

.inline .thumbnail.ico {
  background-color: $white;
}

.inline .thumbnail .fa {
  display: inline-block;
  vertical-align: middle;
  line-height: 150px;
  font-size: 55px;
  color: $primary_color;
}

.inline .title h5 {
  display: block;
  margin-top: $gutter;
  font-size: $body_font_size + 2;
  line-height: $body_font_size + 10;
}

.inline .textarea {
  display: block;
  margin-top: $gutter;
  font-size: $body_font_size - 2;

  @include breakpoint(sm) {
    max-width: 300px;
    margin: $gutter auto 0;
  }
}

