.map-marker {
  color: $primary_color;
  font-size: 10px;
  text-align: center;
}

.markerLabels {
  @include transform(translateX(-5px) translateY(-5px));
}

.map-container .gmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container .address {
  @include transform(translateX(-50%));
  @include border-radius(50px);
  position: absolute;
  bottom: $gutter;
  left: 50%;
  padding: 10px $gutter;
  background-color: rgba($black,0.75);
  border: 1px solid $primary_color;
}

.map-container .address p {
  @include breakpoint(sm) {
    font-size: 0;
  }
}

.map-container .address a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  @include breakpoint(sm) {
    margin: 0;
    font-size: 16px;
  }
}

.map-container .address .fa {
  @include transition();
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

// Remove Google branding

a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

a[href^="https://maps.google.com/maps"] {
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.gmnoprint div {
    background:none !important;
}