.post-password-form label {
  font-size: 0;
}

.post-password-form p:last-child {
  margin-top: 15px;
}

.post-password-form input[type='password'] {
  @include border-radius();
  @include box-shadow(0,0,0,transparent);
  height: 40px;
  width: 200px;
  line-height: 40px;
  font-size: $body_font_size - 2;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.post-password-form input[type='submit'] {
  @extend .btn;
  @extend .primary;
}