.mc-popup {
  @include vertical-align();
  width: 50%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  text-align: left;
  display: none;

  @include breakpoint(sm){
    width: 280px !important;
    margin: 0 auto;
  }

  &.mc-popup-overflow {
    @include vertical-align-reset();
    margin: $gutter auto;
  }
  
  .mc-popup-wrap & {
    display: block;
  }
}

.mc-popup-wrap {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 9999;
  display: none;
  background-color: $popup_wrap_bg;
  text-align: center;
}

.mc-popup-container {
  @include border-radius(5px);
  @include box-sizing(border-box);
  @include box-shadow(0,0,5px,rgba($black,.5));
  display: block;
  width: 100%;
  padding: $gutter;
  background: $popup_bg;
}

.mc-popup-head {
  padding: 0 50px 0 0;
  text-align: left;
  
  @include breakpoint(sm){
    padding: 0 40px 0 0;
  }
}

.mc-popup-title {
  color: $black;
  font-family: $body_font;
}

.mc-popup-subtitle {
  color: $black;
}

.mc-popup-body {
  margin-top: $gutter;
}

.mc-popup-body p {
  color: $black;
}

.mc-popup-paragraph {
  color: $black;
}

.mc-popup-footer {
  padding-top: $gutter;
}

.mc-popup-default-close {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 99;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  
  &:hover {
    color: darken($primary_color,5%);
  }
  
  @include breakpoint(sm){
    height: 30px;
    width: 30px;
    font-size: 25px;
    line-height: 30px;
  }
}

.mc-popup-default-close-icon {
  @include transition();
  font-size: inherit;
  line-height: inherit;
}

.mc-popup-fade {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.mc-pop {
  cursor: pointer;
}

// SMALL POPUP

.mc-small-popup {
  max-width: 400px;
}

.mc-medium-popup {
  max-width: 55%;

  @include breakpoint(sm) {
    max-width: 90%;
  }
}

.mc-large-popup {
  width: 1000px;
  max-width: 75%;

  @include breakpoint(sm) {
    max-width: 90%;
  }
}
