.sponsors-carousel {
  padding: $gutter/2 5px 0;
  
  @include breakpoint(sm) {
    padding: $gutter/2 0 0;
  }
  
  @include breakpoint(xs) {
    padding: $gutter 0 0;
  }
}

.sponsors-carousel .contrast {
  @include breakpoint(xs) {
    background-color: $white;
  }
}

.sponsors-carousel .mc-carousel {
  height: 200px;
}