.video-container {
  @include bgcover();
  @include transition();
  position: relative;
  display: block;
  width: 100%;
}

.video-container:after {
  @extend .overlay-color-dark;
  @extend .overlay-opacity-5;
}

.video-container.play:after {
  @extend .overlay-opacity-8;
}

.video-container iframe {
  @include opacity(0);
  width: 100%;
}

.video-container.play iframe {
  @include opacity(1);
  z-index: 55;
}

.video-container .fa {
  @include font-smoothing();
  @include border-radius(100%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 56px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  text-indent: 6px;
  color: $primary_color;
  border: 1px solid $primary_color;
  z-index: 55;
  

  &:focus,
  &:hover {
    background-color: $primary_color;
    color: $white;
  }
}

.video-container.play .fa {
  display: none;
}

.video-container .fluid-width-video-wrapper {
    display: inline-block;
    vertical-align: middle;
}
