html, body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $body_bg;
}

body {
  font-family: $body_font;
  font-weight: $body_font_weight;
  font-size: $body_font_size;
  line-height: $body_font_size + 5;
  color: $body_color;
  background-color: darken($footer_bg, 10%);
  overflow-x: hidden;
  overflow-y: scroll;
}

body > .container {
  @include transition(all,.2s,ease);
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: darken($white,10);
  z-index: 1;
}

.slide > .container {
  @include transform(translateX($sidebar_width));
}

// BG

.bg {
  @include box-shadow();
  position: absolute;
  top: $header_height;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.bg img {
  display: block;
  max-width: 100%;
  
  @include breakpoint(sm) {
    width: 140%;
    max-width: 140%;
    margin-left: -20%;
  }
}

// PAGE 

.page {
  @extend .clearfix;
  position: relative;
  display: block;
  min-height: 200px;
  padding-top: $page_padding_top;
  overflow: hidden;
  
  @include breakpoint(sm) {
    padding-top: $page_padding_top_sm;
  }
  
  @include breakpoint(xs) {
    padding-top: $page_padding_top_xs;
  }
}

.page:after {
  @include box-shadow();
  display: block;
  position: absolute;
  left: 50%;
  top: $page_padding_top - $gutter*1.5;
  width: $max_width;
  height: 100%;
  margin-left: - $max_width / 2;
  background-color: $white;
  content: '';
  
  @include breakpoint(md) {
    width: $max_width_md;
    margin-left: - $max_width_md / 2;
  }
  
  @include breakpoint(sm) {
    width: $max_width_sm;
    margin-left: - $max_width_sm/2;
    top: $page_padding_top_sm - $gutter/2;
  }
  
  @include breakpoint(xs) {
    width: 100%;
    margin-left: - 50%;
    top: $page_padding_top_xs - $gutter/2;
  }
}

// ROW

.row {
  @extend .clearfix;
  position: relative;
  display: block;
  max-width: $max_width;
  padding: 0 $gutter*2;
  margin: auto;
  
  @include breakpoint(md) {
    max-width: $max_width_md;
  }
  
  @include breakpoint(sm) {
    max-width: $max_width_sm;
    padding: 0 $gutter;
  }
  
  @include breakpoint(xs) {
    max-width: 100%;
    padding: 0 $gutter;
  }
}

// SECTION

.section {
  position: relative;
  display: block;
  text-align: left;
  padding-top: $gutter/2;
  z-index: 1;
}

.section > .container {
  position: relative;
  display: block;
  padding: $gutter;
}

.container > .head {
  display: block;
}

.container > .head > p {
  display: block;
  margin-top: $gutter/4;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
  font-weight: $strong_weight;
  color: rgba($body_color,.75);
}

.container > .body {
  display: block;
  margin-top: $gutter/2;
}

.container > .foot {
  display: block;
  margin-top: $gutter/2;
}

// TABLE

.table {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.table-row {
  display: block;
  padding: $gutter 0;
  border-bottom: 1px solid darken($white,10);
  font-size: 0;

  &:last-child {
    border-bottom: 0;
  }
}

.table-cell {
  display: inline-block;
  vertical-align: middle;
  font-size: $body_font_size;
  width: 100%;
  
  @include breakpoint(xs) {
    width: 100% !important;
  }
}

table {
  margin: $gutter 0;
}

table,
tbody,
tr {
  width: 100%;
}

td {
  padding: $gutter/2;
  border: 1px solid darken($white,10);
} 

// MAIN/SIDE

.side {
  display: block;
  padding-left: $gutter/2;
  
  @include breakpoint(xs) {
    padding-left: 0;
  }
}

// TEXTAREA

.textarea {
  h1, h2, h3, h4, h5, h6 {
    display: block;
    padding: $gutter/2 0;
  }
  
  p {
    line-height: $body_font_size + 10;
  }
}

.textarea img {
  max-width: 100%;
}
