* {
  @include font-smoothing();
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  list-style: none;
  word-wrap: break-word;
}

h1, 

h2, 

h3, 

h4, 

h5 {
  display: inline-block;
  font-family: $heading_font;
  font-weight: $heading_font_weight;
}

h1 {
  font-size: $body_font_size + 15;
  line-height: $body_font_size + 20;

  @include breakpoint(xs) {
    font-size: $body_font_size + 10;
    line-height: $body_font_size + 15;
  }
}

h2 {
  font-size: $body_font_size + 5;
  line-height: $body_font_size + 10;
}

h3 {
  font-size: $body_font_size + 2;
  line-height: $body_font_size + 12;
}

h4, 

h5, 

h6 {
  font-size: $body_font_size;
  line-height: $body_font_size + 5;
}

a {
  display: inline-block;
  color: $primary_color_hover;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary_color_hover;
    cursor: pointer;
  }
}

p {
  font-size: $body_font_size;
}

li {
  display: block;
  font-size: $body_font_size;
}

pre {
  display: block;
  padding: $gutter;
  margin: $gutter 0;
  background-color: $black;
  color: $white;
  text-align: left;
  white-space: normal;
}

address {
  display: block;
  font-size: $body_font_size;
}

strong {
  font-weight: $strong_weight;
}

em {
  font-style: italic;
}

small {
  font-size: $body_font_size - 3;
  line-height: $body_font_size + 2;
}

.auth {
  color: darken($footer_color,40%);
}

.capitalize {
  text-transform: capitalize;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='number'] 
{
  text-indent: 10px;
}

textarea {
  max-width: 100%;
  min-height: 250px;
  padding: 10px;
  resize: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='number'],
textarea 
{
  @include box-shadow(0, 0, 0, rgba($black,0));
  @include transition();
  font-size: 14px;
  font-family: $body_font;
  border: 0;

  &.disabled {
    @include opacity(.7);
  }
}

select {
  @include appearance(none);
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: $body_font_size - 2;
  font-family: $body_font;
  color: transparent;
  text-shadow: 0 0 0 #000;
  background-color: transparent;
  text-indent: 4px;
  cursor: pointer;
  text-transform: capitalize;
  z-index: 1;
  
  option {
    text-indent: 5px;
    padding: 2px 0;
    text-transform: capitalize;
    background-color: $white;
  }
}

.select-container {
  @include border-radius();
  position: relative;
  display: block;
  
  .footer & {
    margin-bottom: $gutter;
    background-color: $white;
  }
  
  .side & {
    background-color: rgba($black, .05);
    border: 1px solid rgba($black, .25);
  }
}

.select-container:after,

.select-container:before {
  position: absolute;
  right: 14px;
  border-style: solid;
  z-index: 2;
  content:'';
}

.select-container:after {
  bottom: 13px;
  border-width: 5px 5px 0 5px;
  border-color: $black transparent transparent transparent;
}

.select-container:before {
  top: 13px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent $black transparent;
}

input[type='radio'], 

input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
  margin-right: $gutter/4;
  cursor: pointer;
}

.separator:after {
  display: inline-block;
  padding: 0 0 0 $gutter/4;
  content: '-';
}

.separator:last-child:after {
  display: none;
}

// RECAPTCHA

.cptch_block {
  @include border-radius();
  display: block;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

// FORM VALIDATOR ERROR BLOCK

.help-block.form-error {
  margin-top: 10px;
  font-size: 12px;
}

// MULTIPLE SELECT

.multiple-select-container {
  @include border-radius();
  position: relative;
  display: block;
}

.multiple-select-open-btn {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  border-width: 5px 5px 0 5px;
  border-color: $black transparent transparent transparent;
  
  &:after,
  
  &:before {
    position: absolute;
    right: 14px;
    border-style: solid;
    z-index: 2;
    content:'';
  }
  
  &:after {
    top: 23px;
    border-width: 5px 5px 0 5px;
    border-color: $black transparent transparent transparent;
  }
  
  &:before {
    top: 13px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $black transparent;
  }
  
  .open & {
    height: 40px;
  }
}

.multiple-select-container .selected-options {
  display: block;
  padding: $gutter/2 $gutter/2 0 $gutter/2;
  min-height: 40px;
}

.multiple-select-container .pending-options {
  display: block;
  overflow-y: auto;
  max-height: 0;
  overflow: hidden;
  background-color: darken($white, 5);
}

.multiple-select-container.open .pending-options {
  border-top: 1px solid darken($white, 10);
  max-height: 160px;
  overflow-y: auto;
}

.multiple-select-container .pending-options label {
  padding: $gutter/4 $gutter/2;
  
  &:hover {
    background-color: $primary_color;
    color: $white;
  }
}

.multiple-select-container .pending-options input {
  display: none !important;
}

.multiple-select-container .selected-options {
  display: block;
  font-size: 0;
}

.multiple-select-container .selected-options li {
  @include border-radius(3px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 $gutter/2;
  margin: 0 $gutter/2 $gutter/2 0;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  background-color: $success_color;
  color: $white;
  overflow: hidden;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  
  &:hover {
    background-color: $error_color;
    cursor: pointer;
  }
}

.multiple-select-container .selected-options li.none {
  background-color: transparent;
  color: darken(white,30);
  text-transform: none;
  font-weight: 400;
  padding-left: 0;
  font-size: 14px;
}
