// COLORS
$white: #fff;
$black: #000;
$dark: #191c1f;
$body_bg: lighten($black,15);
$body_color: lighten($black,25%);
$primary_color: #ffa520;
$primary_color_hover: darken($primary_color, 15%);
$secondary_color: #273691;
$secondary_color_hover: darken($secondary_color, 25%);
$success_color: #2ecc71;
$error_color: #e74c3c;
$form_bg: $white;
$form_color: $body_color;
$placeholder_color: rgba($body_color,.75);
$popup_bg: $white;
$popup_wrap_bg: rgba($black, 0.5);
$navbar_bg: $white;
$footer_bg: lighten($black,15);
$footer_color: $white;
$header_color: $secondary_color;
$contrast: darken($white,2.5);
$high_contrast: darken($white,80);

// FONTS
$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Oswald', sans-serif;
$light_weight: 400;
$strong_weight: 700;
$body_font: $primary_font;
$body_font_weight: $light_weight;
$body_font_size: 16px;
$heading_font: $secondary_font;
$heading_font_weight: $strong_weight;
$btn_font: $primary_font;
$btn_font_weight: $strong_weight;

// SPACING
$xs: 720px;
$sm: 1020px;
$md: 1200px;
$xl: $md + 1;
$gutter: 20px;
$max_width: 1200px;
$max_width_md: $sm;
$max_width_sm: $xs;
$sidebar_width: 250px;
$logo_height: 40px;
$logo_height_sm: 40px;
$header_height: $logo_height + $gutter;
$nav_height: $header_height;
$hero_height: 450px;

$page_padding_top: $gutter*15.5;
$page_padding_top_sm: $gutter*10.5;
$page_padding_top_xs: $gutter*7.5;


$btn_height: 40px;
$logo_max_height: 35px;
$drawer_width: 280px;

// ANIMATION

$ease: ease;