body.login {
  padding: 0;
  background-image: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
  
  &:after {
    @include opacity(.45);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    content: '';
    z-index: 1;
  }
}

.login {
  color: $black;
}

#login {
  position: relative;
  z-index: 55;
  width: 450px;
  
  @include breakpoint(xs) {
    width: 90%;
  }
}

.login form {
  padding: $gutter;
  margin-top: $gutter/2;
}

.login #nav,
.login #backtoblog {
  display: inline-block;
  margin: $gutter/2 0 0;
  padding: 0;
  color: $white;
  
  @include breakpoint(xs) {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  a {
    color: $primary_color;
    font-weight: $strong_weight;
  }
  a:hover {
    color: $primary_color_hover;
  }
}

.login #nav {
  float: right;
}

.login input[type="password"],
.login input[type="text"],
.login input[type="email"] {
  @extend .contrast;
  @include border-radius();
  @include box-shadow(0,0,0,transparent);
  height: 40px;
  line-height: 40px;
  font-size: $body_font_size - 2;
}

.login p {
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

.login .submit .button {
  @include box-shadow(0,0,0,transparent);
  @extend .btn;
   
  &.button-primary {
    @extend .primary; 
  }
}

.login h1 {
  display: block;
  width: 100%;
  background-color: $white;
}

.login label {
  display: block;
}

.login h1 a {
  display: block;
  width: 100%;
  margin: 0;
  background-image: url(../img/logo.png);
  background-size: auto 60%;
  background-repeat: none;
  background-position: center;
  
  @include breakpoint(xs) {
    background-size: auto 40%;
  }
}

.login #login_error, 
.login .message {
  margin-top: $gutter/2;
  border-left-color: $primary_color;
  font-size: $body_font_size - 2;
}