#crumbs {
  display: block;
  color: rgba($body_color,.75);
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
  font-weight: $strong_weight;
}
  
#crumbs li {
  display: inline-block;
  vertical-align: middle;
  margin-right: $gutter/2;
  font-size: $body_font_size;
  font-weight: $strong_weight;
}

#crumbs .fa {
  vertical-align: middle;
}