.mc-carousel {
  height: 250px;
  width: 100%;
  position: relative;
}

.mc-carousel .list-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mc-carousel ul {
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mc-carousel li {
  float: left;
  height: 100%;
}

.mc-carousel li a {
  position: relative;
  display: block;
  height: 100%;
  font-size: 0;
  text-align: center;
  overflow: hidden;
}

.mc-carousel li img {
  @include vertical-align();
  display: inline-block;
  max-width: 55%;
}

.mc-carousel .prevnextnav a {
  @include transition();
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  cursor: pointer;
  
  @include breakpoint(xs) {
    width: 40px;
  }
}

.mc-carousel .prevnextnav a.next {
  right: -10px;
}

.mc-carousel .prevnextnav a.prev {
  left: -10px;
}

.mc-carousel .prevnextnav a .mc-carousel-icon {
  @include transition(all,.2s,ease);
  @include border-radius(100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  font-size: 35px;
  text-align: center;
  
  @include breakpoint(xs) {
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
  }
}

.mc-carousel .prevnextnav a:hover .mc-carousel-icon {
  background-color: rgba(0,0,0,.025);
}
