.footer {
  @include box-shadow(0,5px,5px,rgba($black,.25),inset);
  position: relative;
  display: block;
  padding-top: $gutter*2;
  background-color: $footer_bg;
  color: $white;
  font-size: $body_font_size - 3;
  line-height: $body_font_size + 2;
  
  @include breakpoint(sm) {
    padding-top: $gutter;
    line-height: $body_font_size + 10;
  }
  
  @include breakpoint(xs) {
    padding-top: $gutter*2;
  }
}

.footer:before {
  @include box-shadow();
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: $max_width;
  height: $gutter*2;
  margin-left: - $max_width / 2;
  background-color: $white;
  content: '';
  
  @include breakpoint(md) {
    width: $max_width_md;
    margin-left: - $max_width_md / 2;
  }
  
  @include breakpoint(sm) {
    width: $max_width_sm;
    height: $gutter;
    margin-left: - $max_width_sm / 2;
  }
  
  @include breakpoint(xs) {
    width: 100%;
    margin-left: - 50%;
  }
}

.footer:after {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  width: $max_width;
  height: 2px;
  margin-left: - ($max_width) / 2;
  background-color: $white;
  content: '';
  
  @include breakpoint(md) {
    width: $max_width_md;
    margin-left: - $max_width_md / 2;
  }
  
  @include breakpoint(sm) {
    width: $max_width_sm;
    margin-left: - $max_width_sm / 2;
  }
  
  @include breakpoint(xs) {
    width: 100%;
    margin-left: - 50%;
  }
}


.footer a {
  text-decoration: underline;
}

// INFO

.footer .links {
  display: block;
  padding: $gutter;
  text-align: center;
  color: $white;
  
  @include breakpoint(xs) {
    padding-top: 0;
  }
}

// RIGHTS

.footer .rights {
  display: block;
  padding: $gutter;
  text-align: center;
  color: $white;
  background-color: darken($footer_bg, 10);
}

.footer .rights .auth {
  color: rgba($white,.5);
}

