.form,
.wpcf7-form {
  @include box-shadow();
  @extend .clearfix;
  display: block;
  padding: $gutter;
  padding-top: 0;
  background-color: $white;

  p {
    display: block;
    margin-top: $gutter;
  }

  br {
    display: none;
  }

  b {
    display: block;
    margin-bottom: $gutter/4;
  }
  
  .checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    
    input[type='checkbox'] {
      display: inline-block;
      vertical-align: middle;
      margin-right: $gutter/2;
      cursor: pointer;
    }
  }

  select {
    @include border-radius();
    @extend .contrast;
  }

  textarea {
    @extend .contrast;
    @include border-radius();
    display: block;
    width: 100%;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='number'] {
    @extend .contrast;
    @include border-radius();
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
  }

  input[type='submit'] {
    @extend .btn;
    @extend .primary;
  }
  
  
  .input-file-container {
    position: relative;
    display: block;
    text-align: center;
    background-color: darken($white,.5);
    font-size: 0;
    text-align: left;
  }
  
  .input-file-container input[type='file'] {
    @include opacity(0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9;
  }
  
  .input-file-container #uploadFile {
    @include ellipsis();
    position: relative;
    display: inline-block;
    margin-left: $gutter;
    max-width: 250px;
    vertical-align: middle;
    font-size: $body_font_size - 2;
    line-height: 40px;
  }
  
  .input-file-container img {
    @include border-radius();
    max-height: 40px;
    margin-right: $gutter;
  }
}

.form.mailchimp {
  @include box-shadow(0,0,0,transparent);
  padding: 0;
}

.message {
  display: block;
  padding-bottom: $gutter;
  //font-weight: $strong_weight;

  br {
    display: none;
  }

  .fa {
    display: inline-block;
    line-height: inherit;
    margin-right: $gutter/2;
    font-size: 32px;
  }
}

.message.error {
  color: $error_color;
}

.message.success {
  color: $success_color;
}

.message.border {
  @include border-radius();
  padding: $gutter/2 $gutter;
  border: 1px solid $success_color;
  background-color: $white;

  &.error {
    border-color: $error_color
  }
}

#mce-responses {
  margin-top: 15px;
}

#mce-error-response {
  @include border-radius();
  color: $error_color;
  padding: $gutter/2 $gutter;
  border: 1px solid $success_color;
  background-color: $white;
  border-color: $error_color
}

#mce-success-response {
  @include border-radius();
  color: $success_color;
  padding: $gutter/2 $gutter;
  border: 1px solid $success_color;
  background-color: $white;
}