.mc-gallery-stack {
  display: block;
}

.mc-gallery-stack li {
  display: block;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border-bottom: 1px solid darken($white,10);
  
  &:last-child {
    border:0;
    padding: 0;
    margin: 0;
  }
}

.mc-gallery-stack .container {
  position: relative;
  display: block;
  padding-left: $gutter;
  text-align: left;
}

.mc-gallery-stack h3 {
  display: block;
  padding: 0 0 $gutter/2;
}
