ul.mc-gallery-pop-list {
  display: block;
  position: relative;
  text-align: left;
  background-color: darken($white,20);
}

.mc-gallery-pop li {
  position: relative;
  overflow: hidden;
}

.mc-gallery-pop li:before {
  display: block;
  padding-top: 90%;
  content: '';
}

.mc-gallery-pop .thb {
  @include transition();
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: $black;
}

.mc-gallery-pop .thb:hover {
  @include transform(scale(1.05));
  cursor: pointer;
}

.mc-gallery-pop .textarea {
  display: none;
}

// POPUP

.mc-gallery-popup .mc-popup-container {
  text-align: center;
}

.mc-gallery-popup .mc-popup-body {
  position: relative;
  background-color: darken($white,20);
}

.mc-gallery-popup img {
  max-width: 100%;
}

.mc-popup-gallery-navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mc-popup-gallery-next,

.mc-popup-gallery-prev {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.mc-popup-gallery-next {
  right: 0;
  left: auto;
}

.mc-popup-gallery-icon {
  @include border-radius(50%);
  @include opacity(0);
  @include transition();
  position: absolute;
  left: $gutter/2;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  line-height: 50px;
  font-size: 32px;
  text-align: center;
  background-color: $white;
}

.mc-popup-gallery-prev .mc-popup-gallery-icon {
  @include transform(translateX(-80px));
}

.mc-popup-gallery-next .mc-popup-gallery-icon {
  @include transform(translateX(80px));
  right: $gutter/2;
  left: auto;
}

.mc-popup-gallery-prev:hover .mc-popup-gallery-icon,

.mc-popup-gallery-next:hover .mc-popup-gallery-icon {
  @include transform(translateX(0));
  @include opacity(1);
}

