.mc-slider {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.mc-slides {
  width: 100%;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.mc-slide {
  @include bgcover();
  float: left;
  height: 100%;
  position: relative;
}

.mc-slider-prefade {
  opacity: 1 !important;
  z-index: 1;
}

.mc-slider-navigation {
  body.slide & {
    display: none;
  }
}

.mc-slider-navigation a {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  overflow: hidden;
  font-size: 0;

  @include breakpoint(xs) {
    display: none;
  }
}

.mc-slider-navigation a:hover .mc-slider-icon {
  @include opacity(1);
  @include transform(translateX(0));
}

.mc-slider-icon {
  @include opacity(0);
  @include transition(all,.2s,ease);
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  font-size: 35px;
  text-align: center;
}

.mc-slider-next {
  right: 0;
}

.mc-slider-next .mc-slider-icon {
  @include transform(translateX(60px));
  right: 0;
}

.mc-slider-prev {
  left: 0;
}

.mc-slider-prev .mc-slider-icon {
  @include transform(translateX(-60px));
  left: 0;
}

.mc-slider-pagination {
  position: absolute;
  bottom: $gutter;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
  display: block;
  z-index: 5;
  font-size: 0;
}

.mc-slider-pagination a {
  @include border-radius(100%);
  width: 12px;
  height: 12px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $white;
}

.mc-slider-pagination a.active {
  background-color: $white;
  cursor: default;
}

.mc-slider-pagination a.active:hover {
  background-color: $white;
  border-color: $white;
  cursor: default;
}

.mc-slider-pagination a:hover {
  border-color: $primary_color;
  background-color: $primary_color;
  cursor: pointer;
}

.mc-slider .count {
  z-index: 5;
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: right;
  font-family: arial;
  font-size: 12px;
  line-height: $gutter;
  background-color: rgba(0,0,0,.5);
  color: $white;
}

// GALLERY

.mc-gallery .mc-slide {
  background-color: transparent;
  background-size: contain;
}

.mc-gallery {
  @include transition();
  
  &:hover {
    background-color: rgba($black,0.05);
  }
}
