// COLUMNS 12

.columns {
  display: block;
  text-align: center;
  font-size: 0;
}

.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: $body_font_size;
  
  @include breakpoint(sm) {
    width: 100% !important;
    left: auto !important;
    right: auto !important;
  }
}

// GRID 12

.one    {
  width: 8.333%;
}
.two    {
  width: 16.66%;
}
.three  {
  width: 25%;
}
.four   {
  width: 33.33%;
}
.five   {
  width: 41.66%;
}
.six    {
  width: 50%;
}
.seven  {
  width: 58.33%;
}
.eight  {
  width: 66.66%;
}
.nine   {
  width: 75%;
}
.ten    {
  width: 83.33%;
}
.eleven {
  width: 91.66%;
}
.twelve {
  width: 100%;
}

.pull-one {
  right: 8.333%;
}
.pull-two {
  right: 16.66%;
}
.pull-three {
  right: 25%;
}
.pull-four {
  right: 33.33%;
}
.pull-five {
  right: 41.66%;
}
.pull-six {
  right: 50%;
}
.pull-seven {
  right: 58.33%;
}
.pull-eight {
  right: 66.66%;
}
.pull-nine {
  right: 75%;
}
.pull-ten {
  right: 83.33%;
}
.pull-eleven {
  right: 91.66%;
}
.pull-twelve {
  right: 100%;
}

.push-one {
  left: 8.333%;
}
.push-two {
  left: 16.66%;
}
.push-three {
  left: 25%;
}
.push-four {
  left: 33.33%;
}
.push-five {
  left: 41.66%;
}
.push-six {
  left: 50%;
}
.push-seven {
  left: 58.33%;
}
.push-eight {
  left: 66.66%;
}
.push-nine {
  left: 75%;
}
.push-ten {
  left: 83.33%;
}
.push-eleven {
  left: 91.66%;
}
.push-twelve {
  left: 100%;
}
