.header .logo {
  position: relative;
  height: $header_height;
  float: left;
  margin-left: $gutter;
}

.header .logo-link {
  display: block;
  margin: ($header_height - $logo_height) / 2 0;
}

.header .logo-img {
  display: block;
  height: $logo_height;
  
  @include breakpoint(sm) {
    height: $logo_height_sm;
  }
}
