.header .nav-item.account {
  @include breakpoint(xs) {
    display: none;
  }
}

.account-menu {
  @include box-shadow();
  display: none;
  position: fixed;
  top: $header_height;
  right: $gutter;
  width: 230px;
  padding: $gutter/2;
  margin-top: $gutter;
  background-color: $white;
  z-index: 99;
  
  .show-account-menu & {
    display: block;
  }
}

.account-menu .user-info {
  position: relative;
  display: block;
  min-height: 70px;
  padding: 0 0 $gutter/2 0;
  margin-bottom: $gutter;
  border-bottom: 1px solid darken($white,10);
	
	&.has-avatar {
		padding: 0 0 $gutter/2 60px;
	}
}

.account-menu .thb-container {
  @include border-radius(50%);
  @include box-shadow();
	display: block;
  position: absolute;
  left: 0;
  top: 0;
	width: 50px;
	height: 50px;
	border: 2px solid $white;
	background-size: cover;
	background-position: center;
}

.account-menu .nickname {
 display: block;
 word-wrap: break-word;
}

.account-menu .email {
 display: block;
 word-wrap: break-word;
}

.account-menu .link-list {
  display: block;
}

.account-menu .link-list a {
  display: block;
  padding: 0;
  margin: 0;
  line-height: $body_font_size + 3;
  font-size: $body_font_size - 2;
  color: $black;
}

.account-menu .link-list a:hover {
  color: $primary_color_hover;
}

