.header {
  @include box-shadow();
  
  .nav-links-list {
    margin-right: $gutter;

    @include breakpoint(md) {
      display: none !important;
    }
  }

  // LINK

  .nav-links-list a {
    position: relative;
    display: block;
    padding: 0 $gutter/2;
    line-height: inherit;
    font-size: $body_font_size - 1;
    font-weight: $strong_weight;
    color: $header_color;
    border-right: 1px solid darken($white,10);
  }
  
  .menu-item:first-child a {
    border-left: 1px solid darken($white,10);
  }

  .nav-links-list a:hover,
  .nav-links-list a:focus,
  .nav-links-list a:after {
    background-color: $secondary_color;
    border-color: transparent;
    color: $white;
  }
  
  // LIST

  .menu-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: darken($white,2);
  }

  .menu-item:hover > .sub-menu {
    display: block;
  }
  
  .menu-item:hover:after {
    color: $white;
  }
  
  .menu-item:hover > a {
    @extend a:hover;
  }
  
  // HAS CHILDREN

  .menu-item-has-children:after {
    @include icon();
    position: absolute;
    right: $gutter/2;
    top: 0;
    line-height: inherit;
    font-size: $body_font_size - 4;
    text-align: center;
    content: '\f0d7';
    color: $header_color;
  }
  
  // CURRENT MENU ITEM
  
  .current-page-item > a,
  .current-menu-item > a {
    background-color: $primary_color !important;
    border-color: transparent !important;
    color: $white;
    cursor: default;
  }
  
  .current-page-item:after,
  .current-menu-item:after {
    color: $white;
  }

  .menu-item-has-children a {
    padding-right: $gutter;
  }

  // FIRST LEVEL SUB-MENU

  .sub-menu {
    @include box-shadow();
    position: absolute;
    display: none;
    width: 200px;
    top: $nav_height;
    left: 0;
    line-height: $body_font_size + 6;
  }

  .sub-menu .menu-item {
    display: block;
    border: 0;
  }

  .sub-menu a {
    display: block;
    padding: $gutter/2 $gutter;
    background-color: $secondary_color_hover;
    color: $white;
    border-top: 1px solid rgba($white,.15);
    border-right: 0;
    border-left: 0 !important;
  }

  .sub-menu a:hover {
    background-color: $secondary_color;
  }

  // SECOND LEVEL SUB-MENU

  .sub-menu .sub-menu {
    position: absolute;
    display: none;
    width: 200px;
    top: 0;
    left: 100%;
    
    &.twist {
      left:-100%;
    }
  }

  .sub-menu .menu-item-has-children:after {
    content: '\f0da';
    line-height: $body_font_size + 6 + $gutter;
    color: $white;
    background-color: transparent;
  }
}
