.header .search {
  position: relative;
  cursor: pointer;
  
  @include breakpoint(xs) {
    display: none !important;
  }
}

.header .search-form {
  position: relative;
  display: block;
}

.header .search-input {
  @include border-radius();
  position: absolute;
  right: 0;
  top: 10px;
  display: none;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: $contrast;
  border: 1px solid darken($white, 10);
  
  @include breakpoint(sm) {
    width: 100%;
  }
}

.searching .header .nav {
  @include breakpoint(sm) {
    float: none;
    margin: 0 20px;
  }
}

.searching .header .nav-item {
  display: none;
}

.searching .header .search {
  display: inline-block;
  
  @include breakpoint(sm) {
    display: block;
  }
}

.searching .header .search-input {
  display: block;
}

.searching .header .logo {
  @include breakpoint(sm) {
    display: none;
  }
}