.mobile-nav {
  @include transition();
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar_width;
  background-color: $high_contrast;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0;
  
  .mobile-nav-title {
    display: block;
    height: 50px;
    padding: 0 $gutter;
    margin-bottom: 2px;
    line-height: 50px;
    color: $white;
    text-transform: uppercase;
  }
  
  .mobile-nav-hide.fa {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: $body_font_size;
  }

  .nav-links-list {
    display: block;
  }

  .menu-item {
    position: relative;
    display: block;
  }
  
  .fa-caret-down {
    @include border-radius(50%);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: $white;
    text-align: center;
    background-color: rgba($black,.25);
    cursor: pointer;
  }
  
  .fa-caret-down:hover {
    background-color: rgba($black,.5);
  }

  a {
    @include transition();
    position: relative;
    display: block;
    padding: $gutter/2 $gutter;
    margin-bottom: 2px;
    line-height: inherit;
    font-size: $body_font_size;
    font-family: $heading_font;
    font-weight: $heading_font_weight;
    color: $white;
    background-color: rgba($black,.25);
  }
  
  .menu-item.active > .sub-menu {
    display: block;
  }

  .current-menu-item a,
  .current_page_item a,
  .current-menu-item a:hover,
  .current_page_item a:focus {
    background-color: $primary_color;
    color: $white;
    cursor: default;
  }

  a:hover,
  a:focus,
  .menu-item-has-children:hover {
    color: $primary_color;
  }

  .menu-item-has-children a {
    padding-right: $gutter*1.5;
  }

  // FIRST LEVEL SUB-MENU

  .sub-menu {
    display: none;
    background-color: rgba($black,.25);
  }

  .sub-menu a {
    display: block;
    padding: $gutter/2 $gutter;
    font-weight: 500;
  }
}

.mobile-nav-hide.over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}

.header .nav-item.toggler {
  display: none;

  @include breakpoint(md) {
    display: inline-block;
  }
}

.header .nav-item.toggler .fa {
  cursor: pointer;
  line-height: inherit;
  font-size: $body_font_size + 5;
}

.searching .nav-item.toggler {
  display: none;
}
