.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $header_height;
  display: block;
  background-color: $navbar_bg;
  z-index: 99;
}

.header > .container {
  position: relative;
  display: block;
  z-index: 55;
}

.header .nav {
  display: block;
  float: right;
  height: $nav_height;
  margin-right: $gutter;
  line-height: $nav_height;
  text-align: left;
  font-size: 0;
}

.header .nav-item {
  display: inline-block;
  vertical-align: top;
}

.header .nav-item .fa {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  font-size: 21px;
  text-align: center;
  color: $primary_color;
  
  &:hover {
    color: $primary_color_hover;
  }
}

.scrolled-down .header {
  @include transform(translateY(-$header_height));
  position: fixed;
}

.scrolled-up .header {
  @include transform(translateY(0));
  @include transition();
  position: fixed;
}