.loading {
  position: relative;
	display: block;
  margin: $gutter*4 auto;
  text-align: center;
  z-index: 1;
  
  &.absolute {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -2.5em;
    margin-top: -2.5em;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.loading p {
	display: block;
	
  margin-top: $gutter/2;
  font-size: $body_font_size - 2;
}

.loading.absolute p {
	position: absolute;
  left: 50%;
  top: 100%;
	width: 12em;
  margin-left: -6em;
}

.loading .spinner {
  @include border-radius(50%);
	@include animation(spin 1s infinite linear);
  @include keyframes(spin) {
    0%   { @include transform(rotate(0deg))}
    100% { @include transform(rotate(360deg))}
  };
	position: relative;
	width: 6em;
	height: 6em;
	margin: 0 auto;
  font-size: 10px;
	text-indent: -9999em;
	border-top: 1.1em solid darken($white,10);
	border-right: 1.1em solid darken($white,10);
	border-bottom: 1.1em solid darken($white,10);
	border-left: 1.1em solid darken($white,20);
}
