.pagination {
  padding: $gutter;
  font-weight: $strong_weight;
  
  @include breakpoint(xs) {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
  }
}

.pagination .navigation {
  @extend .clearfix;
  text-align: center;
  font-size: 0;
}

.pagination .page-numbers,
.pagination .current,
.pagination .dots {
  display: inline-block;
  vertical-align: middle;
  font-size: $body_font_size;
  line-height: $btn_height;
  height: $btn_height;
  padding: 0 $gutter/3;
  
  @include breakpoint(xs) {
    display: none;
  }
}

.pagination .prev {
  float: left;

  @include breakpoint(xs) {
    font-size: 13px;
  }
}

.pagination .next {
  float: right;

  @include breakpoint(xs) {
    font-size: 13px;
  }
}

.pagination .next i {
  margin-left: $gutter/2;
  padding-right: 0;
}

.pagination i {
  @include breakpoint(xs) {
    display: none;
  }
}