.side .post-list {}

.side .post {
  display: block;
  margin-bottom: $gutter/2;
  padding-bottom: $gutter/2;
  border-bottom: 1px dotted rgba($black,.5);
}

.side .post:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.side .post a {
  display: block;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

