$stack_thb_width: 100px;

.page .stack {
  @include breakpoint(xs) {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
}

.stack .post-list .post {
  @include box-shadow();
  position: relative;
  display: block;
  margin-bottom: $gutter;
  padding: $gutter;
  background: $white;

  @include breakpoint(xs) {
    @include box-shadow(0,0,0,transparent);
    background-color: $contrast;
    border: 1px solid darken($white, 10);
    margin-bottom: $gutter/2;
  }
}

.stack .post-list .post:last-child {
  margin-bottom: 0;
}

.stack .post-list .body {
  position: relative;
  padding-left: $stack_thb_width + $gutter;
  padding-right: $gutter;
  min-height: 100px;
  
  @include breakpoint(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.stack .post-list .foot {
  font-weight: $strong_weight;
}

.stack .post-list h2 {
  font-size: $body_font_size + 10;
  line-height: $body_font_size + 15;
}

.stack .post-list .meta {
  display: block;
  margin-top: $gutter/3;
  text-transform: uppercase;
  font-size: $body_font_size - 4;
  line-height: $body_font_size;
  font-weight: $strong_weight;
}

.stack .post-list .meta .separator:after {
  display: inline-block;
  padding: 0 $gutter/4;
  content: '-';
}

.stack .post-list .meta .separator:last-child:after {
  display: none;
}

.stack .post-list .thb {
  @include border-radius();
  position: absolute;
  left: 0;
  top: 0;
  width: $stack_thb_width;
  height: 100px;
  background-size: cover;
  background-position: center;
  border: 2px solid $white;
  
  @include breakpoint(xs) {
    display: none;
  }
}

.stack .post-list .link {
  margin-top: $gutter/3;
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
  text-decoration: none;
}

.stack .post-list .link span {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: inherit;
}

.stack .post-list .link .fa {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  margin-left: 2px;
  font-size: $body_font_size;
}

.stack .post-list a {
  text-decoration: underline;
}

.stack .post-list .foot > div {
  display: inline-block;
  vertical-align: top;
  font-size: $body_font_size - 4;
  line-height: $body_font_size;
}
