.share-list {
  position: relative;
  display: block;
  font-size: 0;
  text-align: center;
}

.share-list li {
  display: inline-block;
  vertical-align: middle;
}

.share-list a {
  @include border-radius(100%);
  display: inline-block;
  width: $gutter*2;
  height: $gutter*2;
  line-height: $gutter*2;
  text-align: center;
  vertical-align: top;
  margin-right: $gutter/2;
  font-size: $body_font_size + 5;
  background-color: $primary_color;
  color: $white;
  
  @include breakpoint(xs) {
    width: $gutter*1.5;
    height: $gutter*1.5;
    line-height: $gutter*1.5;
    font-size: $body_font_size + 2;
    margin-right: $gutter/4;
  }

  &:focus,
  &:hover {
    background-color: $primary_color_hover;
  }
}

.share-list .fa {
  line-height: inherit;
  
  @include breakpoint(xs) {
    font-size: $body_font_size;
  }
}