.social-media {
  display: inline-block;
  vertical-align: middle;
}

.social-media .menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: $gutter/4;
  font-size: 0;
}

.social-media a:after {
  @include icon();
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  line-height: inherit;
}

a[title='facebook']:after {
  content:'\f082';
}

a[title='twitter']:after {
  content:'\f081';
}

a[title='linkedin']:after {
  content:'\f08c';
}

a[title='youtube']:after {
  content:'\f166';
}
