$tab_bg: darken($white,2);

.tabs {
  display: block;
}

.tab-nav {
  position: relative;
  display: inline-block;
  padding: $gutter/2 $gutter;
  margin-right: $gutter/2;
  vertical-align: top;
  font-weight: $strong_weight;
  background-color: darken($tab_bg, 3);
  color: $body_color;
  cursor: pointer;
  
  &:hover {
    color: $primary_color_hover;
  }
  
  &.active {
    @include box-shadow();
    color: $primary_color_hover;
    background-color: $tab_bg;
    cursor: text;
    z-index: 1;
    
    &:after {
      position: absolute;
      display: block;
      left: 0;
      top: 100%;
      width: 100%;
      height: 3px;
      background-color: $tab_bg;
      content: '';
    }
  }
}

.tab-content {
  @include box-shadow();
  position: relative;
  display: none;
  background-color: $tab_bg;
  z-index: 0;
  
  &.active {
    display: block;
  }
}

.tab-content > .container {
  display: block;
  padding: $gutter*2;
  line-height: 28px;
}