/* ACF SETTINGS */

/*.acf_postbox h2 {
  background-color: #23282d;
  color: #fff;
}

.acf_postbox .field {
  padding: 15px 10px;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
}

.acf_postbox .field_type-message p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.acf_postbox .field-toggler {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
}

.acf_postbox .field-toggler .fa {
  display: block;
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.acf_postbox .field-group .field {
  display: none;
}

.acf_postbox .field-group.active .field {
  display: block;
}

.acf_postbox .field-group .field_type-message {
  display: block;
  background-color: #f5f5f5;
}

.acf_postbox .field-group.active .acf-conditional_logic-hide {
  display: none;
}

.acf_postbox .field-group .fa-minus {
  display: none;
}

.acf_postbox .field-group.active .fa-minus {
  display: block;
}

.acf_postbox .field-group.active .fa-plus {
  display: none;
}*/

/* HIDE GALLERY SETTINGS */

#gallery-settings * {
  display: none;
}

.gallery-settings .setting:nth-child(2),

.gallery-settings .setting:nth-child(3),

.gallery-settings .setting.size {
  display: none;
}

/* HIDE USER EDIT SETTINGS */

#your-profile > h2 {
  display: none;
}

.user-pass1-wrap,

.user-profile-picture,

.user-jabber-wrap,

.user-yim-wrap,

.user-aim-wrap,

.user-url-wrap {
  display: none;
}
