.cat-search-form {
  position: relative;
  display: block;
}

.cat-search-form input[type='text'] {
  @extend .contrast;
  @include border-radius();
  display: block;
  width: 100%;
  height: 40px;
  padding-right: 30px;
  line-height: 40px;
  background-color: $white;
  font-size: $body_font_size - 3;
}

.cat-search-form .fa {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 40px;
  text-align: center;
}