.index .page > .row:nth-child(even) {
  @include breakpoint(xs) {
    margin-top: $gutter;
    padding-bottom: $gutter;
    background-color: $contrast;
    border-top: 1px solid darken($white, 10);
    border-bottom: 1px solid darken($white, 10);
    z-index: 1;
  }
}