.page-profile .table-cell .label {
  @include breakpoint(xs) {
    display: block;
    margin-bottom: $gutter/2;
    font-weight: $strong_weight;
    font-size: $body_font_size - 2;
    line-height: $body_font_size + 3;
  }
}

.page-profile .message {
  @include border-radius();
  border: 1px solid $success_color;
  background-color: $white;
  padding: $gutter/2 $gutter;
  margin-bottom: $gutter;
}

.page-profile .message.error {
  border-color: $error_color;
}
